<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		
		<!-- UDM settings -->
			<!-- I/O Tables -->
    <add key ="accessWeights" value="dbo.access_weights"/>
   	<add key ="capacity" value ="dbo.capacity"/>
    <add key ="capacity1" value ="dbo.TN.capacity1"/>
    <add key ="capacity2" value ="dbo.TN.capacity2"/>
    <add key ="capacity3" value ="dbo.TN.capacity3"/>
    <add key ="capacity4" value ="dbo.TN.capacity4"/>
    <add key ="empDecrements" value="dbo.emp_dec"/>
    <add key ="empDistByLU" value ="dbo.emp_distribution_by_lu"/>
    <add key ="empIncrements" value="dbo.emp_inc"/>
    <add key ="fracteeTable" value="dbo.fractee"/>
    <add key ="homePrices" value="dbo.sr13_median_home_prices"/>
    <add key ="impedAM" value="dbo.imped_am"/>
    <add key ="impedPM" value="dbo.imped_pm"/>
    <add key ="impedTran" value="dbo.impedTran"/>
    <add key="incomeDistAdj" value="dbo.income_distribution_adjustments"/>
    <add key ="luzbase" value ="dbo.luzbase"/>
    <add key ="luzEmpOvr" value="luz_emp_lu_ovr"/>
    <add key ="luzEmpSectorOvr" value ="dbo.luz_dc_emp_sector_ovr"/>
    <add key ="luzErOvr" value="dbo.luz_dc_er_ovr"/>
    <add key ="luzhist" value ="dbo.luz_hist"/>
    <add key ="luzHSOvr" value ="dbo.luz_hs_ovr"/>
    <add key ="luzHHSOvr" value ="dbo.luz_dc_hhs_ovr"/>
    <add key ="luzIncOvr" value ="dbo.luz_dc_inc_ovr"/>
    <add key ="luzIncomeParms" value="dbo.luz_income_parms"/>    
    <add key ="luztemp" value ="dbo.luz_temp"/> 
    <add key ="luzVacOvr" value ="dbo.luz_dc_vac_ovr"/>
    <add key ="mgrabase" value ="dbo.mgrabase"/>
    <add key ="MFDecrements" value="dbo.mf_dec"/>
    <add key ="MFIncrements" value="dbo.mf_inc"/>
    <add key ="mhDecrements" value="dbo.mh_dec"/>
    <add key ="mhIncrements" value="dbo.mh_inc"/>
    <add key ="SFDecrements" value="dbo.sf_dec"/>
    <add key ="SFIncrements" value="dbo.sf_inc"/>
    <add key ="updateGQC" value ="dbo.updateGQC"/>
    <add key ="xrefMGRA" value ="dbo.xref_mgra_sr13"/> 
    
    <!-- ascii output files -->
    <add key ="networkPath" value ="\\hana\home\shared\res\estimates &amp; forecast\SR13 Forecast\temp\"/>

    <!-- Preprocessor File Names-->
    <add key ="accessWeights" value ="accessWeights"/>
    <add key ="luzPre" value ="luzPre.txt"/>
    <add key ="PreExcep" value="PreExcep.txt"/>
    
    <!-- CIVEMP FileNames-->
    <add key="empCalcOut" value ="empCalcOut.txt"/>
    <add key="empCd" value ="empCd.txt"/>
    <add key="empCi" value ="empCi.txt"/>
    <add key="empChange" value="empChange.txt"/>
    <add key="empChange1" value="empChange1.txt"/>
    <add key="empControlCheck" value="empControlCheck.txt"/>
    <add key="empOnly" value="empOnly.txt"/>
    <add key="empOut" value="empOutliers.txt"/>
    <add key="empOvr" value="empOvr.txt"/>
    <add key="luzTempCheck" value="luzTempCheck.txt"/>
    <add key="luxBaseCheck" value="luxBaseCheck.txt"/>
    <add key="milSiteSpec" value="dbo.mil_sitespec"/>
    <add key="minConstraints" value="minConstraints.txt"/>
    <add key="minConstraintsCheck" value="minConstraintsCheck.txt"/>
    <add key="rcEmpCheck" value ="rcEmpCheck.txt"/>
    <add key="redisEmp" value="redisEmp.txt"/>
    <add key="schPart" value="schPart.txt"/>
    
    <!-- HS file Names -->
    <add key="hsOvr" value ="hsOvr.txt"/>
    <add key="hsOut" value ="hsOut.txt"/>
    <add key="hsChange" value ="hsChange.txt"/>
    <add key="hsChange1" value ="hsChange1.txt"/>
    <add key="hsDataOnly" value ="hsDataOnly.txt"/>
    <add key="hsRates" value ="hsRates.txt"/>
    <add key="hsRatesPass" value ="hsRatesPass.txt"/>
    <add key="mfCi" value ="mfCi.txt"/>
    <add key="mfCd" value ="mfCd.txt"/>
    <add key="mfOut" value ="mfOut.txt"/>
    <add key="mhCi" value ="mhCi.txt"/>
    <add key="mhCd" value ="mhCd.txt"/>
    <add key="p1Out" value ="p1Out.txt"/>
    <add key="p2Out" value ="p2Out.txt"/>
    <add key="redisHS" value ="redisHS.txt"/>
    <add key="sfCi" value ="sfCi.txt"/>
    <add key="sfCd" value ="sfCd.txt"/>
    <add key="sdOut" value ="sfOut.txt"/>
    <add key ="xxMF" value ="xxMF.txt"/>
    <add key ="xxSF" value ="xxSF.txt"/>
    
    <!-- detailed characteristics (Mod 4) file names-->
    <add key="dcEmp" value ="dcEmp.txt"/>
    <add key="dcHHS" value ="dcHHS.txt"/>
    <add key="dcInc" value ="dcInc.txt"/>
    <add key="dcOut" value ="dcOut.txt"/>
    <add key="dcOutliers" value ="dcOutliers.txt"/>
    <add key="dcOvr" value ="dcOvr.txt"/>
    <add key="dcPop" value ="dcPop.txt"/>
    <add key="dcRates" value ="dcRates.txt"/>
    <add key="dcGQC" value ="dcGQC.txt"/>
    <add key ="mgraEmp" value ="mgraEmp.txt"/>
    <add key ="mgraInc" value="mgraInc.txt"/>
    <add key="ns" value ="ns.txt"/>
    <add key="nx" value ="nx.txt"/>
    <add key="tempMB" value ="tempMB.txt"/>
    <add key="tempZB" value ="temZB.txt"/>
    <add key="tempZH" value ="tempZH.txt"/>
    <add key="tt" value="tt.txt"/>
    <add key="ts" value="ts.txt"/>
    
   
    <!-- Global Constants -->
    <add key ="BASEYEAR" value="2012"/>
    <add key ="NUM_LUZS" value = "127"/>
    <add key ="NUM_MGRAS" value = "23002"/>
    <add key ="MAX_MGRAS_IN_LUZ" value ="934"/>
    <add key ="NUM_HH_INCOME" value = "10"/>
    <add key ="MAX_CAPACITY_OVERRIDES" value = "10000"/>
    <add key ="MAX_DENSITY_OVERRIDES" value = "1000"/>
    <add key ="EMPLOYMENT_OCCUPANCY_RATE" value = "0.90"/>
    <add key ="MAX_EMPLOYMENT_CATEGORIES" value ="14"/>
    <add key ="MAX_LU_RECORDS" value ="1000"/>
    <add key ="MAX_SPHERES" value ="120"/>
    <add key ="MAX_SPHERE_OVERRIDES" value ="120"/>
    <add key ="MAX_EMP_DEN" value ="100"/>
    <add key ="MAX_SITE_VARS" value ="8"/>
    <add key ="MAX_SITES" value ="20000"/>

    <!-- other constants-->
    <add key ="MAX_TRANS" value ="46000"/>
    <add key ="NUM_HH_INCOME" value ="10"/>
    <add key ="NUM_EMP_LAND" value ="7"/>
    <add key ="NUM_MF_LAND" value ="4"/>
    <add key ="NUM_EMP_SECTORS" value ="20"/>
    <add key ="NUM_SF_LAND" value ="5"/>
    <add key ="NUM_TT_PROB" value ="24"/>
    
    <!-- debug output flags-->
    <add key ="EMP_CALC_DEBUG" value="false"/>
    <add key ="RC_DEBUG" value="false"/>
    <add key ="SF_DEBUG" value="false"/>
    <add key ="ZB_DEBUG" value="false"/>
    <add key ="ZH_DEBUG" value="false"/>
    <add key ="ZT_DEBUG" value="false"/>

    <!-- parameters for travel time model-->
    <add key ="AUTO_STD" value="0.86"/>
    <add key ="CBD_STD" value= "0.41"/>
    <add key ="TRAN_STD" value="0.29"/>
    <add key ="AUTO_NLA" value="0.84"/>
    <add key ="TRAN_NLA" value="0.67"/>
    <add key ="CBD_NLA" value= "0.89"/>
    <add key ="AUTO_MED" value= "16"/>
    <add key ="TRAN_MED" value= "40"/>
    <add key ="CBD_MED" value= "40"/>

    <!-- empal equation parameters-->
    <add key ="LAGGED_EMP" value="0.3415"/>
    <add key= "ALPHA" value = "1.5267"/>
    <add key ="BETA" value="-0.627"/>
    <add key="LAMBDA" value="0.82"/>
    <add key ="CAP_EMP" value="0.3228"/>

    <!-- Queries -->
    
    <add key ="bulkInsert" value ="BULK INSERT {0} FROM '{1}' WITH (FIELDTERMINATOR = ',',firstrow = 1)"/>
    <add key ="deleteFrom" value = "delete From {0} where scenario = {1} and increment = {2}"/>
    <add key ="insertFrom" value = "insert into {0} select * from {1} where scenario = {2} and increment = {3}"/>
    <add key ="insertInto" value = "insert into {0} {1} "/> 
    <add key ="selectAll" value = "select * from {0} where scenario = {1} and increment = {2}"/>
    <add key ="selectSimple" value ="select * from {0}"/>
    <add key ="truncate" value ="truncate table {0}"/>
    
    <add key ="insertFromFinal" value = "insert into {0} SELECT scenario, {1} ,LCKey,planid,mgra,luz,sphere,site,dev_code,lu,plu,udm_emp_lu,udm_sf_lu,udm_mf_lu,
                                         phase,devyear,loden,hiden,empden,actden,acres,parcel_acres,effective_acres,percent_constrained,
                                         pcap_hs,pcap_emp,emp_civ,emp_mil,hs,hs_sf,hs_mf,hs_mh,gq_civ,gq_mil,cap_hs,cap_hs_sf,
                                         cap_hs_mf,cap_hs_mh,cap_emp_civ,chg_emp_civ,chg_hs_sf,chg_hs_mf,chg_hs_mh,net_flag,mktstat,
                                         siteLU,siteSF,siteMF,sitemh,siteGQCiv,siteGQMil,siteEmp,siteMil from {2} where scenario = {3} and increment = {4}"/>
    
    <add key ="selectAccessWeights" value = "SELECT m.mgra, m.luz, m.emp_civ + m.hs, x.x, x.y fROM {0} m INNER JOIN 
                                          xref_mgra_sr13 x ON m.mgra = x.mgra  where scenario = {1} and increment = {2}"/>
    
    <add key ="selectCapacity" value ="SELECT phase, mgra, luz, site, LCKey, lu, plu, gq_civ, gq_mil, chg_emp_civ,chg_hs_sf, chg_hs_mf, chg_hs_mh, 
                                       dev_code, pcap_emp, pcap_hs,acres,emp_civ,emp_mil FROM {0} WHERE scenario = {1} AND increment = {2}"/>
    
    <add key ="selectCapacityWithDevCode" value = "SELECT luz, phase, site, udm_emp_lu,udm_sf_lu, udm_mf_lu, acres,cap_emp_civ, 
                                                cap_hs_sf, cap_hs_mf, cap_hs_mh, gq_civ, gq_mil fROM {0} WHERE dev_code &gt; 2 and scenario = {1} and increment ={2}"/>
    
    <add key ="selectEmpDecrements" value="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.emp_civ, c.dev_code, c.lu, c.cap_emp_civ FROM {0} c, {1} a 
                                           WHERE a.mgra = c.mgra and phase &lt; {2} and a.scenario = c.scenario and a.increment = c.increment  
                                           and site = 0 and lu &gt; 1300 and civ_emp &gt; 0 and c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight desc"/>
    
    <add key ="selectEmpIncrements" value="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.lu, c.plu, c.dev_code, c.acres, c.udm_emp_lu, c.emp_civ, c.cap_emp_civ, 
                                          c.hs_sf, c.hs_mf, c.hs_mh, c.cap_hs_sf, c.cap_hs_mf, c.cap_hs_mh, c.pcap_emp FROM  {0} c, {1} a where 
                                          c.scenario = a.scenario and c.increment = a.increment and c.mgra = a.mgra AND site = 0 
                                          and phase &lt; {2}  and pcap_emp &lt; 1 and cap_emp_civ &gt; 0  
                                          and c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight DESC"/>
    
    <add key ="selectImpedWithOrder" value="select dest,time from {0} where orig = {1} and dest != {1} and scenario = {2} and increment = {3} order by time asc"/>
    
    <add key ="selectLost" value ="SELECT luz, SUM(chg_hs_sf), SUM(chg_hs_mf), SUM(chg_hs_mh), SUM(chg_emp_civ) FROM {0} 
                                   WHERE scenario = {1} and increment = {2} and site = 0 GROUP BY luz"/>
    
    <add key ="selectMFDecrements" value="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.hs_mf, c.dev_code, c.lu, c.cap_hs_mf FROM {0} c, {1} a
                                          WHERE a.mgra = c.mgra and phase &lt; {2} and a.scenario = c.scenario and a.increment = c.increment  
                                          and site = 0 and hs_mf &gt; 0 and c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight desc"/>
    
    <add key ="selectMFIncrements" value ="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.lu, c.plu, c.dev_code, c.acres, c.udm_mf_lu, c.hs_sf, c.hs_mf, c.hs_mh, 
                                          c.cap_hs_sf, c.cap_hs_mf, c.cap_hs_mh,c.pcap_hs FROM {0} c, {1} a WHERE pcap_hs &lt; 1 and cap_hs_mf &gt; 0 and
                                          c.scenario = a.scenario and c.increment = a.increment 
                                          and c.mgra = a.mgra AND site = 0 AND phase &lt; {2} AND c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight desc"/>
    
    <add key ="selectSFDecrements" value ="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.hs_sf, c.dev_code, c.lu, c.cap_hs_sf FROM {0} c, {1} a 
                                          WHERE a.scenario = c.scenario and a.increment = c.increment and site = 0 and hs_sf &gt; 0 AND c.mgra = a.mgra 
                                          and phase &lt; {2} and c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight desc"/>
    
    <add key="selectSFIncrements" value ="SELECT a.luz, a.mgra, a.weight, c.LCKey, c.lu, c.plu, c.dev_code, c.acres, c.udm_sf_lu, c.hs_sf, c.hs_mf, c.hs_mh, 
                                          c.cap_hs_sf, c.cap_hs_mf, c.cap_hs_mh, c.pcap_hs FROM {0} c, {1} a 
                                          WHERE c.scenario = a.scenario and c.increment = a.increment AND pcap_hs &lt; 1 AND cap_hs_sf &gt; 0
                                          and c.mgra = a.mgra AND site = 0 AND phase &lt; {2} and c.scenario = {3} and c.increment = {4} ORDER BY a.luz, a.weight desc"/>

    <add key="selectControlGQ1" value ="select sum(siteGQCiv) from {0} where site &gt; 0 and phase &lt; {1} and scenarioID = {2} and increment = {3}"/>
    <add key ="selectControlGQ2" value="select lckey,gq_civ from {0} where gq_civ &gt; 0 and scenario = {1} and increment = {2}"/>
    <add key ="selectControlGQ3" value ="select lckey,gq_mil from {0} where gq_mil &gt; 0 and scenario = {1} and increment = {2}"/>
         
    <add key ="selectPart" value = "Select {0} from {1} where {2} and scenario = {3} and increment = {4}"/>
    <add key ="selectRCAll" value="select * from {0} where scenario = {1} and (year = {2} or year = {3})"/>
    <add key ="selectRCEmp" value ="select year,civ,mil from {0} where scenario = {1} and (year = {2} or year = {3})"/>
    <add key ="selectRCHS" value ="SELECT year, hs_sf, hs_mf, hs_mh, hh, hh_sf, hh_mf, hh_mh, hhp, er FROM {0} where scenario = {1} and (year = {2} or year = {3})"/>
    
    
    <add key ="updateCapacity1" value = "UPDATE {0} SET chg_hs_sf = 0, chg_hs_mf = 0, chg_hs_mh = 0, chg_emp_civ = 0 WHERE scenario = {1} and increment = {2}"/>
    <add key ="updateCapTemp" value ="UPDATE {0} SET hs = hs_sf + hs_mf + hs_mh, cap_hs = cap_hs_sf + cap_hs_mf + cap_hs_mh where scenario = {1} and increment = {2}"/>
    <add key ="updateConstrainEmpCiv" value = "Update {0} set SET emp_civ = 0 WHERE emp_civ &lt; 0 and phase &lt; {1} and site &gt; 0 and scenario = {3} and increment = {4}"/>
    
    <add key ="updateConstrainHS" value = "Update {0} set SET {5} = 0 WHERE {5} &lt; 0 and phase &lt; {1} and site &gt; 0 and scenario = {3} and increment = {4}"/>

    <add key ="updateEmpDecrements" value ="UPDATE {0} SET dev_code = e.dev_code, emp_civ = e.emp_civ, cap_emp_civ = e.cap_emp_civ, 
                                           pcap_emp = e.pcap, chg_emp_civ = e.chg_emp_civ FROM {0} c, {1} e WHERE c.lckey = e.lckey and scenario = {2} and year = {3}"/>
         
    <add key ="updateEmpIncrements" value ="UPDATE {0} SET dev_code = e.dev_code, lu = e.lu, emp_civ = e.emp_civ, cap_emp_civ = e.cap_emp_civ, 
                                pcap_emp = e.pcap, chg_emp_civ = e.chg_emp_civ, hs_sf = e.hs_sf, hs_mf = e.hs_mf, hs_mh = e.hs_mh, 
                                cap_hs_sf = e.cap_hs_sf, cap_hs_mf = e.cap_hs_mf, cap_hs_mh = e.cap_hs_mh, chg_hs_sf = c.chg_hs_sf + e.chg_hs_sf, 
                                chg_hs_mf = c.chg_hs_mf + e.chg_hs_mf, chg_hs_mh = c.chg_hs_mh + e.chg_hs_mh FROM {0} c, {1} e 
                                WHERE c.lckey = e,lckey and scenario = {2} and year = {3}"/>
    
    <add key ="updateGQ" value ="UPDATE {0} SET {3} = {3} + {4} where {4} &gt; 0 and scenario = {1} and increment = {2}"/>  
    <add key ="updateGQ0" value ="UPDATE {0} SET {3} = 0 where {3} &gt; 0 and scenario = {1} and increment = {2}"/>
    <add key ="updateGQCFinal" value="update {0} set gq_civ = GQC  from {0} c, {1} u where c.lckey = u.lckey and scenario {2] and increment = {3}"/>
    <add key ="updateGQMFinal" value="update {0} set gq_mil = {1} where lckey = {2} and scenario = {3} and increment = {4}"/>
    <add key ="updateGQMil1" value ="UPDATE {0} SET gq_mil  = gq_mil + siteGQMil where siteGQMil &gt; 0 and scenario = {1} and increment = {2}"/>
  
    <add key ="updateHSIncrements" value ="UPDATE {0} SET dev_code = m.dev_code, lu = m.lu, pcap_hs = m.pcap, hs_sf = m.hs_sf, hs_mf = m.hs_mf, hs_mh = m.hs_mh, 
                                          cap_hs_sf = m.cap_hs_sf, cap_hs_mf = m.cap_hs_mf, cap_hs_mh = m.cap_hs_mh, chg_hs_sf = c.chg_hs_sf + m.chg_hs_sf,
                                          chg_hs_mf = c.chg_hs_mf + m.chg_hs_mf, chg_hs_mh = c.chg_hs_mh + m.chg_hs_mh  from {0} c, {1} m
                                          WHERE c.LCKey = m.LCKey and scenario = {2} increment = {3}"/>
    
    <add key ="updateMFDecrements" value ="UPDATE {0} set dev_code = e.dev_code, hs_mf = e.hs_mf, cap_hs_mf = e.cap_hs_mf, 
                                           pcap_hs = e.pcap_hs, chg_hs_mf = e.chg_hs_mf FROM {0} c, {1} e WHERE c.LCKey = e.LCKey 
                                           and scenario = {2} and increment = {3}"/>

    <add key ="updateMHIncrements" value ="UPDATE {0} SET hs_mh = m.hs_mh, chg_hs_mh = m.chg_hs_mh FROM {0} c, {1} m, WHERE 
                                           c.LCKey = m.LCKey  and scenario = {2} and increment = {3}"/>
    
    <add key ="updateHSTotals" value = "Update {0} set SET hs = hs_sf + hs_mf + hs_mh WHERE hs_mh &lt; 0 and phase &lt; {1} and site &gt; 0 and scenario = {3} and increment = {4}"/>
    
    <add key ="updateResetBaseYear" value = "Update {0} SET devyear = {1}, pcap_hs = 1, pcap_emp = 1, dev_code = 1, lu = plu,
                                            emp_civ = emp_civ + cap_emp_civ, hs_sf = hs_sf + cap_hs_sf, hs_mf = hs_mf + cap_hs_mf,
                                            hs_mh = hs_mh + cap_hs_mh, chg_emp_civ = cap_emp_civ, chg_hs_sf = cap_hs_sf, chg_hs_mf = 
                                            cap_hs_mf, chg_hs_mh = cap_hs_mh WHERE site &gt; 0 and phase &lt; {2} and scenario = {3} and increment = {4}"/>
    
    <add key ="updateResetCapValues" value = "Update {0} cap_emp_civ = 0,cap_hs = 0, cap_hs_sf = 0, cap_hs_mf = 0, cap_hs_mh = 0 WHERE phase &lt; {1} 
                                              and site &gt; 0 and scenario = {3} and increment = {4}"/>
    
    <add key ="updateSFDecrements" value ="UPDATE {0} SET dev_code = e.dev_code, hs_sf = e.hs_sf, cap_hs_sf = e.cap_hs_sf,pcap_hs = e.pcap_hs, chg_hs_sf = e.chg_hs_sf 
                                          FROM {0} c, {1} e WHERE c.LCKey = e.LCKey and scenario = {2} and increment = {3}"/>
    
    <add key ="updateSiteMil" value = "Update {0} SET emp_mil = emp_mil + sitemil WHERE phase &lt; {1} AND phase &gt;= {2} and site &gt; 0 and scenario = {3} and increment = {4}"/>
    <add key ="updateSiteMilNext" value = "UPDATE {0} SET emp_mil = emp_mil + mil FROM {0} c, {1} e WHERE c.lckey = e.lckey and scenario = {2} and year = {3}"/>
    <add key ="updateTempCap" value = "Update {0} SET hs = hs_sf + hs_mf + hs_mh, cap_hs = cap_hs_sf + cap_hs_mf + cap_hs_mh where scenario = {1} and increment = {2}"/>
    
    
	</appSettings>
	<connectionStrings>
		
  <add name="SR13DBConnectionString" connectionString="Data Source=pila.sandag.org\SdgIntDb;Initial Catalog=sr13;User ID=forecast;Password=forecast" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
